.background{
    /* height: 50svh; */
    width: 100%;
    background: url("../src/assets/imgs/vecteezy_particle-background-animation-motion-graphics-background_27798400.mp4");
}

.main{
    height: 100vh;
}

.video{
    position: absolute;
    z-index: -1;
}